body {
  color: #464646;
  background: #ECEBD7;
  text-align: center;
}

body > div {
  width: 800px;
  height: 500px;
  background: white;
  border: 1px dashed silver;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 1em;
  margin: 0 auto;
}

footer a {
  display: inline-block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
  background: white;
  text-decoration: none;
  line-height: 4em;
  color: silver;
}